<style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       color: white;
       text-align: center;
    }
    
    .no-dec {
        text-decoration: none;
    }
</style>
<script src="https://kit.fontawesome.com/786504c4a0.js" crossorigin="anonymous"></script>
<div class="footer">
    <p>Coded with <a class="no-dec" href="https://github.com/true-echo/product-database" target="_blank">&#10084;&#65039;</a> by <a class="no-dec" href="https://github.com/true-echo" target="_blank">TrueEcho</a></p>
</div>